@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #FFFFFF;
  color: #111111;
  /* Hide default cursor on devices that support hover */
  @media (hover: hover) and (pointer: fine) {
    cursor: none;
  }
}

/* Hide scrollbar for Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::selection {
  background-color: #0434E5;
  color: #FFFFFF;
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
